*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  img
  {
    width: 100%;
  }

  body
  {
    background-color: #3A3A3A;
  }
  
  .a-enter-vr
  {
    display: none;
  }
  
  .container
  {
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0px;
      color: #fff;
  }
    
  button
  {
      position: relative;
      z-index: 1;
      width: 100px;
      padding: 1.2em;
      margin: 0.1em;
  }